<!DOCTYPE html>
<html lang='en' xmlns="http://www.w3.org/1999/html">
<head>
    <style>
            table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
            }

            td, th {
            border: 1px solid blue;
            text-align: center;
            padding: 8px;
            }


        </style>
  <meta charset="utf-8" />
     <title>Weather Report</title>
</head>
<body style="background-image:
 url(https://img.freepik.com/free-vector/gorgeous-clouds-background-with-blue-sky-design_1017-25501.jpg);
background-size:1250px 750px;">

<center>
    <h1>Weather Report</h1>
    <h1>{{names[1]}}</h1>
    <h2>{{names[0]}}</h2>

    <form method="post">
    <div class="content">
        {% for message in get_flashed_messages() %}
            <div class="alert">{{ message }}</div>
        {% endfor %}
        {% block content %} {% endblock %}
    </div><br>
        <label>Enter a valid city/country name</label><br><br>
      <textarea name="text_box" style="resize: none;"></textarea><br><br>
       <button type="submit">Submit</button><br><br>
    </form>
    <br>
<table>
            <tr>
                <td>Time</td><td>Day Temperature °C</td>
                <td>Night Temperature °C</td><td>Day Humidity %</td>
                <td>Night Humidity %</td>
            </tr>
            {% for item in data %}
            <tr>
                <td>{{ item['Time'] }}</td>
                <td>{{ item['Temperature_At_Day'] }} °C</td>
                <td>{{ item['Temperature_At_Night'] }} °C</td>
                <td>{{ item['Humidity_At_Day'] }}%</td>
                <td>{{ item['Humidity_At_Night'] }}%</td>
            </tr>
            {% endfor %}
</table>
    <br><br><br>
 </center>
</body>

</html>